<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tippy Chi Yay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BDF0CB8B1D58123400663741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDF0CB9F1D58123400663741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDF0CBAA1D58123400663741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
